<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Verison=v4.6.1"/>
	</startup>
	<appSettings>
		<!-- Docusign Details -->
		<add key="INTEGRATIONKEY" value="2bb5c016-ba1c-4d79-9f2c-5a55472364ac"/>
		<!-- OAuth2.0 Details-->
		<add key ="USERID" value="db2bc625-d3a9-4e29-a939-e2b7cfad5495"/>
		<add key="ACCOUNTID" value="f908f465-8de8-4bec-8a38-86b66c2343e6"/>
		<add key="AUTHSERVER" value="account-d.docusign.com"/>
		<add key="RSAKEYPAIR" value="-----BEGIN RSA PRIVATE KEY-----
MIIEowIBAAKCAQEApNKUxH65+ESbJldWFklp+G9z7OgFMbWOYKQHcjlhquCYjCVI
a2Z2Ow/G9h7RdpgecaqSu3E/2z8DX+ddnSrEfjIbBPEyugKrjpX88GUg8AgMMM8G
X34PqApEXKnqbqVzZEtlnj7B8TX33ux6x4A6WrSwkLfHUuTk+cOPKfzgl2K171gQ
d/sHl+1Va8tIXXlxzMqahoZYPJCxhcYAhQg0zctzbhdyU6cP2DK6HsnQBdFpabc6
DgcZUmQmziwpNirQuv9QZOWhE9Goe5S5JG8j8MhDiNOD8zFH7JQIs1Z8D4yBUPUg
1E5uAjIOpcTHJt9bExgZuSeT5/hD54Gz6uDRkwIDAQABAoIBACbgTJq0UWUPuZCn
lPSYyFgC4dMFPwRkkHqW9fKpOjI124Vi3dwHROfVZtZymnFgm/2vgACaS7eI+2DJ
j7kcd1BUvS7DPXXGX3S4R/rjv4seOtHgYt5vO34lPc6lfVgvyjHj3soef1xHoHmC
Sct4oUr3x5W641bYCnInAEOlE8xg6QLVpZPgJPkzUcshMeBxXQW2NkxLr3ObMooP
i7jQrAeJIAJ+ij2IQSi7s6kensA3LXye/AtprSSYL6p08F3qJSlPSp6Lk19Orb0R
IaSlCWWp2A+/LNmdcuGkBq89JBlctCyOuKjl/wytHkHYn3HyqaNoqgJ/YjGPud5x
xjDgZ7ECgYEA2KR1fRWeue1se3QVxowkwiXHj0BJNW7KyJUPwgRpl/RbwlcJGAiV
AyImhlX8HjXSXont1NqkvZ+EB14LW2RnLDwqUI8PwA4dx6OSKW1ojIm7HgzB7uJu
SlH9Qu0NzGL/AkL/xRnIfNwCO1FocUDWPhr7Hr1u/HupHvLHqwKWrvcCgYEAwsQZ
yIUTuBCUm9s9p66hq6jyFd1w6OsTR9BiJqYKeiJRl2TIyMl9MBopRuHWziatgEML
qVN760+vqTcEClovb9cpMllcFzp3FQPh27NWg5367xJsD81z65FEQp+iKORqj23U
8eCA15Fd6ndBt5lbOr6kOiksrDVC/339fmnaX0UCgYBg30Et+pHsP69HkMP/8UCq
k+wlMTDLNMx2XrkaH5D8AqdZQkPtvECtkwK5BQ/kjlqQLYrsqAwMQpzuEm5vonjD
/e9J8H6xeV51m73KyoJ6fUfvivLZF+ULVJgz6f5Gi2nOIBlwkDPnKRXSYneaVMy4
HqZ1u206dy1LinIgFNs+RwKBgERH+8IQ5ZjiNzds5XCkCInl8Pk5aRw/TcMfi0mB
bKrk3TX2X24FNZ5njZEMHAKqDKmq16vFWOxmQ29PmlsGwxqyk/7S1TZPiPAVLFmZ
xfrep9qo2rmvjbRIeWXiETfE3JbsKnuh+YmZrRNGPAPh/9nYfDrntIGrKpHn2bc3
5RcBAoGBAMYtUfFUagiFxzDNvZdKPn2LRvc4U6PTeoTV8oyuDWEUnwuMohb11nP/
QJtfWhKrn4dOXX2yo/Qmix6WwkfHFDyzl7dLu+viGLixlaEl4j5GHHZW0x9mok7+
/IOMSYfgV/J8wxxl77mUBUrmBzVdIO1vVX3oskp4tx2u6fLKk24s
-----END RSA PRIVATE KEY-----"/>
		<!-- Receiver Email details-->
		<add key="USERNAME" value="Ashutosh Kumar"/>
		<add key="USEREMAIL" value="0ashutoshkumar1@gmail.com"/>
		<add key="DOCSUBJECT" value="Sample console Application test"/>
		<add key="DOCNAME" value="TestFile.pdf"/>
		<!-- Adhoc Details-->
		<add key ="TESTFILE" value="Sample.pdf"/>
		<add key="DELAYTIMER" value="1"/>
		<add key="REQUESTCOUNT" value="1"/>
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publickeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0.-11.0.0.0" newVersion="11.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>